<div class="posts container-fluid">
  <% if @bookmark_list.present? %>
    <div class="row", style="margin: 0 auto;">
      <%= render "posts/index", posts: @bookmark_list %>
    </div>
  <% else %>
    ブックマークした投稿はありません。
  <% end %>
  <%= paginate @bookmark_list %>
</div>
<%= render "users/nav-icons", user: @user %>