<div class="users container">
  <h5><%= @user.name %>をフォローしているユーザー</h5>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <% if @users.exists? %>
        <table class="table">
          <tbody>
            <%= render "users/index", users: @users %>
          </tbody>
        </table>
      <% else %>
        フォロワーはいません。
      <% end %>
    </div>
  </div>
  <%= paginate @users %>
</div>
<%= render "users/nav-icons", user: @user %>
