<h1>A-Creation</h1>
<%= link_to 'SIGN UP', new_user_registration_path %>
<%= link_to 'SIGN IN', new_user_session_path %>

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>
  <div class="swiper-pagination"></div>
</div>