
// color
$mainColor: #f5f6f7;
$lightGray: #949494;
$gray: #555555;
$blue: #298689;
$white: #fff;

// button-shadow
$button-shadow_outline: -8px -4px 6px #fff, 6px 4px 8px #dfe4ea;
$button-shadow_inline: 2px 2px 2px #dfe4ea inset, -2px -2px 2px 0px #fff inset;

