/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "variables";

* {
  font-family: 'Open Sans Condensed', sans-serif;
}

 body {
   background: $mainColor;
 }

.navbar {
  font-weight: 500;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  justify-content: end;

  & > .nav-item {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.2em;
    overflow: hidden;

    & > a {
      padding: 0 0.5em 0 0.2em;
      color: $lightGray;
      position: relative;
      display: inline-block;
      letter-spacing: 1px;
      margin: 0;
      text-decoration: none;
      transition: all 0.35s ease;

      &:before,
      &:after {
        position: absolute;
        -webkit-transition: all 0.35s ease;
      }

      &:before {
        right: 100%;
        display: block;
        width: 3px;
        height: 100%;
        content: "";
        background-color: $blue;
      }

      &:after {
        padding: 0 0.5em 0 0.2em;
        position: absolute;
        right: 100%;
        top: 0;
        content: attr(data-hover);
        color: $gray;
        white-space: nowrap;
      }
    }

    &:hover > a{
      transform: translateX(100%);
    }
  }
}

.profile_image_sm {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border: 1px solid $lightGray;
  border-radius: 50%;
}
