// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

// groups/_index グループ一覧
.group-field .table {
  margin-top: 10px;

  span {
    text-align: start;
    font-size: 15px;
    font-weight: bold;
  }

  .pointer {
    cursor: pointer;
    transition: opacity .3s;

    &:hover {
      opacity: .5;
    }
  }
}


// groups/show　グループ詳細
.group.container {
  margin-top: 50px;

  h3 {
    display: inline-block;
    margin-right: 30px;
    
    span {
      display: block;
      font-size: 15px;
      margin-bottom: 5px;
      
      a {
        color: $gray;
      }
    }
  }
  
  //グループ編集ボタン
  .group-setting {
    display: inline-block;

    a {
      @extend .btn-style;
      padding: 5px 20px;
      transition: opacity .3s;

      &:hover {
        opacity: .5;
        text-decoration: none;
      }
    }
  }
  
  //グループ紹介
  .group-text {
    padding: 10px;
    margin-bottom: 25px;
  }
  
  //「チャットへ」ボタン
  .btn {
    margin-bottom: 30px;
    
    &.chat-out {
      color: $red;
    }
    
    &.chat-in {
      width: 100%;
      padding: 25px;
      box-shadow: $button-shadow_outline;
      border-radius: 20px;
  
      &:hover {
        box-shadow: $button-shadow_inline;
      }
    }
  }
  // グループメンバー一覧
  .group-field {
    display: flex;
    gap: 30px;
    text-align: center;
    flex-wrap: wrap;

    .box {
      transition: opacity .3s;

      &:hover {
        opacity: .5;
      }

      .profile_image {
        @extend .profile-img-style;
      }

      a {
        text-decoration: none;
      }
    }

  }

  // groups/new,edit グループ新規作成・編集
  .form-control.btn {
    @extend .btn-style;
    display: block;
    width: 250px;
    margin: 0 auto;
  }
}