<% categories.each do |category| %>
  <tr>
    <td>
      <p><%= link_to category.name, category_path(category) %></p>
    </td>
    <td>
      <p><%= category.introduction %></p>
    </td>
    <td id="category-btn_<%= category.id %>">
      <%= render "categories/category-btn", category: category %>
    </td>
  </tr>
<% end %>